/*Inscription*/
.bandeau_bleu
{
  background-color: #0F5F81;/*bleu-fonce*/
  padding-bottom: 40px;
}

.texte_bienvenue
{
  color: white;
  font-size: 20px;
  text-align: left !important;
  padding-left: 10px;
  padding-bottom: 40px;
  padding-top: 30px;
}

.label_form1
{
  color: white;
}

.label_form2
{
  margin-bottom: 10px !important;
  color: white !important;
  background-color: #0F5F81 !important;/*bleu-fonce*/
}

.bouton_valider_connexion
{
  color: white;
  background-color: #7097AD !important;/*bleu-gris*/
  border: solid 1px white !important;
  margin-bottom: 30px !important;
}

.img_logo_netpool
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
}

.inscription
{
  padding-top: 20px;
}

.label_form3
{
  margin-bottom: 10px !important;
  border: solid 1px #0F5F81 !important;/*bleu-fonce*/
}

.bouton_valider_connexion2
{
  color: white;
  background-color: #0F5F81 !important;/*bleu-fonce*/
  border: solid 1px #0F5F81 !important;
  margin-bottom: 30px !important;
}

/*Nav*/
.navigation
{
  background-color: #0F5F81 !important;/*bleu-fonce*/
}

.mot_nav
{
  color: white !important;
}

.mot_nav:hover
{
    color: white !important;
    background-color: #7097AD !important;/*bleu-gris*/
}

.logo_netpool
{
  margin-top: -10px;
}

/*Body*/
.body
{
  margin-top: 100px;
}

.body_profil
{
  margin-top: 55px;
}

/*Accueil*/
.publier
{
  background-color: #0F5F81;/*bleu-fonce*/
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.option_publier
{
  border: 1px solid #0F5F81 !important;/*bleu-fonce*/
  background-color: white !important;
  color: black !important;
}

.option_publier:hover
{
  border: 1px solid #0F5F81 !important;/*bleu-fonce*/
  color: white !important;
  background-color: #7097AD !important;/*bleu-gris*/
}

.publications
{
  margin-top: 30px;
}

.supprimer
{
  border: 2px #7097AD solid;
  background-color: #0F5F81;/*bleu-fonce*/
  color: white;
  float: left;
}

.ajouter
{
  border: 2px #7097AD solid;/*bleu-gris*/
  background-color: #0F5F81;/*bleu-fonce*/
  color: white;
  float: right;

}

.option-ajouter
{
  border: 2px #7097AD solid;/*bleu-gris*/
  background-color: #0F5F81;/*bleu-fonce*/
  height: 800px;
}

.option-supprimer
{
  border: 2px #7097AD solid;/*bleu-gris*/
  background-color: #0F5F81;/*bleu-fonce*/
  height: 800px;
}

.option-1
{
  float: right;
  border: 1px #7097AD solid;/*bleu-fonce*/
  background-color: white;
  height: 280px;

}

.option-2
{
  margin-top: 40px;
}

.bouton_bleu
{
  color: white;
  background-color: #0F5F81 !important;/*bleu-fonce*/
  border: 1px solid #0F5F81 !important;/*bleu-fonce*/
}

/*Profil*/
.img_couv
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px !important;
  width: 100%;
}

.img_pp
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 170px !important;
  width: 170px;
  border: 1px solid #0F5F81; /*bleu-fonce*/
  margin-top: -85px;
  margin-bottom: 10px;
}

.img_ppreseau
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70px !important;
  width: 70px;
  border: 1px solid #0F5F81; /*bleu-fonce*/
  margin-top: 10px;
  margin-left: 10px;
}

.notif
{
  border: 2px #0F5F81 solid;/*bleu-fonce*/
  background-color: white;
  height: 200px;
}

.titre
{
  border: 2px #7097AD solid;/*bleu-gris*/
  background-color: #0F5F81;/*bleu-fonce*/
  color: white;
}

.corps
{
  float: right;
  border: 2px #7097AD solid;/*bleu-gris*/
  background-color: white;
  height: 200px;
}

.nom_job
{
  color: #0F5F81;/*bleu-fonce*/
  text-align: center;
}

.profil
{
  background-color: #0F5F81;/*bleu-fonce*/
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.ma_publication
{
  border: 1px #0F5F81 solid;/*bleu-fonce*/
}

.parametres_profil
{
  color: white !important;
  background-color: #0F5F81 !important;/*bleu-fonce*/
  margin-bottom: 5px !important;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
}

.param_profil
{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.bouton
{
  color: white !important;
  background-color: #0F5F81 !important;/*bleu-fonce*/
  margin-bottom: 5px !important;
  text-align: center;
  margin-left: 30px;
  margin-top: 30px;
}
