/*Inscription*/
.bandeau_bleu
{
  background-color: #0F5F81;/*bleu-fonce*/
  padding-bottom: 40px;
}

.texte_bienvenue
{
  color: white;
  font-size: 20px;
  text-align: left !important;
  padding-left: 10px;
  padding-bottom: 40px;
  padding-top: 30px;
}

.label_form1
{
  color: white;
}

.label_form2
{
  margin-bottom: 10px !important;
  color: white !important;
  background-color: #0F5F81 !important;/*bleu-fonce*/
}

.bouton_valider_connexion
{
  color: white;
  background-color: #7097AD !important;/*bleu-gris*/
  border: solid 1px white !important;
  margin-bottom: 30px !important;
}

.img_logo_netpool
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
}

.inscription
{
  padding-top: 20px;
}

.label_form3
{
  margin-bottom: 10px !important;
  border: solid 1px #0F5F81 !important;/*bleu-fonce*/
}

.bouton_valider_connexion2
{
  color: white;
  background-color: #0F5F81 !important;/*bleu-fonce*/
  border: solid 1px #0F5F81 !important;
  margin-bottom: 30px !important;
}

/*Nav*/
.navigation
{
  background-color: #0F5F81 !important;/*bleu-fonce*/
}

.mot_nav
{
  color: white !important;
}

.mot_nav:hover
{
    color: white !important;
    background-color: #7097AD !important;/*bleu-gris*/
}

.logo_netpool
{
  margin-top: -10px;
}

/*Body*/
.body
{
  margin-top: 100px;
}

body
{
  font-size: 20px !important;
}

button
{
  font-size: 18px !important;
}

input
{
  font-size: 18px !important;
}

.body_profil
{
  margin-top: 55px;
}

/*Accueil*/
.publier
{
  background-color: #0F5F81;/*bleu-fonce*/
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.option_publier
{
  border: 1px solid #0F5F81 !important;/*bleu-fonce*/
  background-color: white !important;
  color: black !important;
}

.option_publier:hover
{
  border: 1px solid #0F5F81 !important;/*bleu-fonce*/
  color: white !important;
  background-color: #7097AD !important;/*bleu-gris*/
}

.publications
{
  margin-top: 30px;
}

.taille_image
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 300px !important;
  max-width: 100%;
}

.bouton_bleu
{
  color: white;
  background-color: #0F5F81 !important;/*bleu-fonce*/
  border: 1px solid #0F5F81 !important;/*bleu-fonce*/
}

.cadre_publication
{
  border: 1px solid #0F5F81 !important;/*bleu-fonce*/
}

/*Profil*/
.img_couv
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px !important;
  width: 100%;
}

.img_pp
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 170px !important;
  width: 170px;
  border: 1px solid #0F5F81; /*bleu-fonce*/
  margin-top: -85px;
  margin-bottom: 10px;
}

.img_ppreseau
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70px !important;
  width: 70px !important;
  border: 1px solid #0F5F81; /*bleu-fonce*/
  margin-top: 5px;
}

.notif
{
  border: 2px #0F5F81 solid;/*bleu-fonce*/
  background-color: white;
  height: 200px;
}

.titre
{
  border: 2px #7097AD solid;/*bleu-gris*/
  background-color: #0F5F81;/*bleu-fonce*/
  color: white;
}

.titre_supprimer_admin
{
  border: 2px #831616 solid;/*rouge-clair*/
  background-color: #550a0a;/*rouge-fonce*/
  color: white;
}

.titre_ajouter_admin
{
  border: 2px #207320 solid;/*vert-clair*/
  background-color: #094509 ;/*vert-fonce*/
  color: white;
}

.corps
{
  border: 2px #7097AD solid;/*bleu-gris*/
  background-color: white;
}

.corps_ajouter_admin
{
  border: 2px #207320 solid;/*vert-clair*/
}

.corps_supprimer_admin
{
  border: 2px #831616 solid;/*rouge-clair*/
}

.nom_job
{
  color: #0F5F81;/*bleu-fonce*/
  text-align: center;
}

.profil
{
  background-color: #0F5F81;/*bleu-fonce*/
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.ma_publication
{
  border: 1px #0F5F81 solid;/*bleu-fonce*/
}

.parametres_profil
{
  color: white !important;
  background-color: #013356 !important;/*gris*/
  margin-bottom: 5px !important;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  border: solid 1px #013356 !important;
}

.parametres_profil:hover
{
  color: white !important;
  background-color: #0b4975 !important;/*gris-fonce*/
  margin-bottom: 5px !important;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  border: solid 1px #0b4975 !important;
  text-decoration: none;
}

.se_deconnecter
{
  color: white !important;
  background-color: #550a0a !important;/*rouge-fonce*/
  margin-bottom: 5px !important;
  text-align: center;
  border: solid 1px #550a0a!important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.se_deconnecter:hover
{
  color: white !important;
  background-color: #831616 !important;/*rouge-fonce*/
  margin-bottom: 5px !important;
  text-align: center;
  border: solid 1px #831616 !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-decoration: none !important;
}

.se_connecter
{
  color: white !important;
  background-color: #094509 !important;/*vert-fonce*/
  margin-bottom: 5px !important;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  border: solid 1px #094509!important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.se_connecter:hover
{
  color: white !important;
  background-color: #095209 !important;/*vert*/
  margin-bottom: 5px !important;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  border: solid 1px #095209 !important;/*vert*/
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-decoration: none;
}

.devenir_amis
{
  color: white !important;
  background-color: #207320 !important;/*vert*/
  margin-bottom: 5px !important;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  border: solid 1px #207320 !important;/*vert*/
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-decoration: none;
}

.devenir_amis:hover
{
  color: white !important;
  background-color: #208120 !important;/*vert*/
  margin-bottom: 5px !important;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  border: solid 1px #208120 !important;/*vert*/
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-decoration: none;
}

.supprimer
{
  color: white !important;
  background-color: #550a0a !important;/*rouge*/
  margin-bottom: 5px !important;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  border: solid 1px #550a0a !important;
}

.supprimer:hover
{
  color: white !important;
  background-color: #831616 !important;/*rouge-fonce*/
  margin-bottom: 5px !important;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  border: solid 1px #831616 !important;
  text-decoration: none;
}

.bouton_cv
{
  margin-top: 5px;
  margin-bottom: 5px !important;
  color: white !important;
  background-color: #094509 !important;/*vert-fonce*/
  text-align: center;
  border: solid 1px #094509 !important;
}

.bouton_cv:hover
{
  margin-top: 5px;
  margin-bottom: 5px !important;
  color: white !important;
  background-color: #095209 !important;/*vert*/
  text-align: center;
  border: solid 1px #095209 !important;
  text-decoration: none;
}

.param_profil
{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.bouton
{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  color: white !important;
  background-color: #013356 !important;/*gris*/
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  text-align: center;
  border: solid 1px #013356 !important;
}

.bouton:hover
{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  color: white !important;
  background-color: #0b4975 !important;/*gris*/
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  text-align: center;
  border: solid 1px #0b4975 !important;
}

.img_ppnotif
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70px !important;
  width: 70px;
  border: 1px solid #0F5F81; /*bleu-fonce*/
  margin-left: 10px;
}

/*Emplois */
.offre_emploi
{
  background-color: #0F5F81 !important;/*bleu-fonce*/
  color: white !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-bottom: 5px;
}

.div_emploi
{
  margin-top: 10px !important;
  border: 1px solid #013356 !important;
}

.titre_emploi
{
  background-color: #013356 !important;
}






/*Effet*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

html *,
html *:before,
html *:after {
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}


*:before,
*:after {
  z-index: -1;
}

h1,
h4 {
  font-family: 'Raleway', 'Open Sans', sans-serif;
  margin: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  line-height: 80px;
  color: black;
}

.centerer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 600px) {
  .wrap {
    width: 50%;
    float: left;
  }
}
[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 80px;
  max-width: 250px;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor;
}

.btn-0 {
  color: #81adc9;
}
.btn-0:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #405f73;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.btn-0:hover {
  color: #dae7ef;
}
.btn-0:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.btn-1 {
  color: #b670ad;
}
.btn-1:before {
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  bottom: 0;
  left: 0;
  border-right: 50px solid transparent;
  border-bottom: 80px solid #65345f;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.btn-1:hover {
  color: #ead5e7;
}
.btn-1:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.btn-1-2 {
  color: #88a6a4;
}
.btn-1-2:before, .btn-1-2:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 80px solid #455a59;
}
.btn-1-2:before {
  right: -50px;
  border-right: 50px solid transparent;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.btn-1-2:after {
  left: -50px;
  border-left: 50px solid transparent;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.btn-1-2:hover {
  color: #dce5e4;
}
.btn-1-2:hover:before {
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}
.btn-1-2:hover:after {
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
}

.btn-2 {
  color: #c96558;
}
.btn-2:before, .btn-2:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.btn-2:before {
  right: -50px;
  border-right: 50px solid transparent;
  border-bottom: 80px solid #732c23;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.btn-2:after {
  left: -50px;
  border-left: 50px solid transparent;
  border-top: 80px solid #732c23;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.btn-2:hover {
  color: #efd2ce;
}
.btn-2:hover:before {
  -webkit-transform: translateX(-49%);
          transform: translateX(-49%);
}
.btn-2:hover:after {
  -webkit-transform: translateX(49%);
          transform: translateX(49%);
}

.btn-3:before, .btn-3:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 40px solid #143d10;
  border-bottom: 40px solid #143d10;
}
.btn-3:before {
  border-right: 40px solid transparent;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.btn-3:after {
  border-left: 40px solid transparent;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.btn-3:hover {
  color: #c8d9c6;
}
.btn-3:hover:before {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}
.btn-3:hover:after {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.btn-4 {
  color: #acb3b7;
}
.btn-4:before, .btn-4:after,
.btn-4 span:before,
.btn-4 span:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #5e6466;
}
.btn-4:before {
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
}
.btn-4:after {
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
}
.btn-4 span:before {
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
}
.btn-4 span:after {
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
}
.btn-4:hover {
  color: #e7e9ea;
}
.btn-4:hover:before {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.btn-4:hover:after {
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}
.btn-4:hover span:before {
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.btn-4:hover span:after {
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.btn-5 {
  color: #4ba5ba;
}
.btn-5:after {
  content: '';
  width: 0;
  height: 0;
  -webkit-transform: rotate(360deg);
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent #1a5968 transparent transparent;
  position: absolute;
  top: 0;
  right: 0;
}
.btn-5:before {
  content: '';
  width: 0;
  height: 0;
  -webkit-transform: rotate(360deg);
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent transparent transparent #1a5968;
  position: absolute;
  bottom: 0;
  left: 0;
}
.btn-5:before, .btn-5:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.btn-5:before {
  bottom: 0;
  left: 0;
  border-color: transparent transparent transparent #1a5968;
}
.btn-5:after {
  top: 0;
  right: 0;
  border-color: transparent #1a5968 transparent transparent;
}
.btn-5:hover {
  color: #cae5eb;
}
.btn-5:hover:before, .btn-5:hover:after {
  border-width: 80px 262.5px;
}

.btn-6 {
  color: #67b286;
}
.btn-6 span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #2e6244;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
.btn-6:hover {
  color: #d2e8dc;
}
.btn-6:hover span {
  width: 225%;
  height: 562.5px;
}
.btn-6:active {
  background-color: #4ca471;
}

.btn-7 {
  color: #2f89ad;
}
.btn-7:before, .btn-7:after,
.btn-7 span:before,
.btn-7 span:after {
  content: '';
  position: absolute;
  top: 0;
  width: 25.25%;
  height: 0;
  background-color: #06465f;
}
.btn-7:before {
  left: 0;
}
.btn-7:after {
  left: 50%;
}
.btn-7 span:before, .btn-7 span:after {
  top: auto;
  bottom: 0;
}
.btn-7 span:before {
  left: 25%;
}
.btn-7 span:after {
  left: 75%;
}
.btn-7:hover {
  color: #c2dce7;
}
.btn-7:hover:before, .btn-7:hover:after,
.btn-7:hover span:before,
.btn-7:hover span:after {
  height: 80px;
}

.btn-8 {
  color: #9186c5;
}
.btn-8:before, .btn-8:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #4c4470;
}
.btn-8:before {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.btn-8:after {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.btn-8:hover {
  color: #dfdcee;
}
.btn-8:hover:before {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.btn-8:hover:after {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.btn-9 {
  color: #392c2d;
}
.btn-9:before, .btn-9:after,
.btn-9 span:before,
.btn-9 span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(13, 4, 5, 0.25);
  transition: 0.4s ease-in-out;
}
.btn-9:after,
.btn-9 span:before {
  top: auto;
  bottom: 0;
}
.btn-9 span:before,
.btn-9 span:after {
  transition-delay: 0.4s;
}
.btn-9:hover {
  color: #c5c1c1;
}
.btn-9:hover:before, .btn-9:hover:after,
.btn-9:hover span:before,
.btn-9:hover span:after {
  height: 80px;
}
.btn-9:active {
  background-color: #160708;
}

.btn-10 {
  color: #556950;
}
.btn-10:before, .btn-10:after,
.btn-10 span:before,
.btn-10 span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 80px;
  background-color: rgba(33, 47, 29, 0.25);
  transition: 0.4s;
}
.btn-10:after,
.btn-10 span:before {
  left: auto;
  right: 0;
}
.btn-10 span:before,
.btn-10 span:after {
  transition-delay: 0.4s;
}
.btn-10:hover {
  color: #cdd3cc;
}
.btn-10:hover:before, .btn-10:hover:after,
.btn-10:hover span:before,
.btn-10:hover span:after {
  width: 250px;
}
.btn-10:active {
  background-color: #374f31;
}

@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}
@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
.btn-11 {
  position: relative;
  color: #a988b1;
}
.btn-11:before, .btn-11:after {
  position: absolute;
  top: 50%;
  content: '';
  width: 20px;
  height: 20px;
  background-color: #9a73a3;
  border-radius: 50%;
}
.btn-11:before {
  left: -20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.btn-11:after {
  right: -20px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.btn-11:hover {
  color: #e6dce8;
}
.btn-11:hover:before {
  -webkit-animation: criss-cross-left 0.8s both;
          animation: criss-cross-left 0.8s both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.btn-11:hover:after {
  -webkit-animation: criss-cross-right 0.8s both;
          animation: criss-cross-right 0.8s both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
