/*Inscription*/
.bandeau_bleu
{
  background-color: #0F5F81;/*bleu-fonce*/
  padding-bottom: 40px;
}

.texte_bienvenue
{
  color: white;
  font-size: 20px;
  text-align: left !important;
  padding-left: 10px;
  padding-bottom: 40px;
  padding-top: 30px;
}

.label_form1
{
  color: white;
}

.label_form2
{
  margin-bottom: 10px !important;
  color: white !important;
  background-color: #0F5F81 !important;/*bleu-fonce*/
}

.bouton_valider_connexion
{
  color: white;
  background-color: #7097AD !important;/*bleu-gris*/
  border: solid 1px white !important;
  margin-bottom: 30px !important;
}

.img_logo_netpool
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
}

.inscription
{
  padding-top: 20px;
}

.label_form3
{
  margin-bottom: 10px !important;
  border: solid 1px #0F5F81 !important;/*bleu-fonce*/
}

.bouton_valider_connexion2
{
  color: white;
  background-color: #0F5F81 !important;/*bleu-fonce*/
  border: solid 1px #0F5F81 !important;
  margin-bottom: 30px !important;
}

/*Nav*/
.navigation
{
  background-color: #0F5F81 !important;/*bleu-fonce*/
}

.mot_nav
{
  color: white !important;
}

.mot_nav:hover
{
    color: white !important;
    background-color: #7097AD !important;/*bleu-gris*/
}

.logo_netpool
{
  margin-top: -10px;
}

/*Body*/
.body
{
  margin-top: 100px;
}

body
{
  font-size: 20px !important;
  font-family: Trebuchet, Helvetica, Arial, sans-serif !important;
}

button
{
  font-size: 18px !important;
  font-family: Trebuchet, Helvetica, Arial, sans-serif !important;
}

input
{
  font-size: 18px !important;
  font-family: Trebuchet, Helvetica, Arial, sans-serif !important;
}

.body_profil
{
  margin-top: 55px;
}

/*Accueil*/
.coeur_acceuil
{
  color: #831616 !important;/*rouge-fonce*/
}

.publier
{
  background-color: #0F5F81;/*bleu-fonce*/
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.option_publier
{
  border: 1px solid #0F5F81 !important;/*bleu-fonce*/
  background-color: white !important;
  color: black !important;
}

.option_publier:hover
{
  border: 1px solid #0F5F81 !important;/*bleu-fonce*/
  color: white !important;
  background-color: #7097AD !important;/*bleu-gris*/
}

.publications
{
  margin-top: 30px;
}

.taille_image
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 300px !important;
  max-width: 100%;
}

.bouton_bleu
{
  color: white;
  background-color: #0F5F81 !important;/*bleu-fonce*/
  border: 1px solid #0F5F81 !important;/*bleu-fonce*/
}

.cadre_publication
{
  border: 1px solid #0F5F81 !important;/*bleu-fonce*/
}

/*Profil*/
.img_couv
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px !important;
  width: 100%;
}

.img_pp
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 170px !important;
  width: 170px;
  border: 1px solid #0F5F81; /*bleu-fonce*/
  margin-top: -85px;
  margin-bottom: 10px;
}

.img_ppreseau
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70px !important;
  width: 70px !important;
  border: 1px solid #0F5F81; /*bleu-fonce*/
  margin-top: 5px;
}

.notif
{
  border: 2px #0F5F81 solid;/*bleu-fonce*/
  background-color: white;
  height: 200px;
}

.titre
{
  border: 2px #7097AD solid;/*bleu-gris*/
  background-color: #0F5F81;/*bleu-fonce*/
  color: white;
}

.titre_supprimer_admin
{
  border: 2px #831616 solid;/*rouge-clair*/
  background-color: #550a0a;/*rouge-fonce*/
  color: white;
}

.titre_ajouter_admin
{
  border: 2px #207320 solid;/*vert-clair*/
  background-color: #094509 ;/*vert-fonce*/
  color: white;
}

.corps
{
  border: 2px #7097AD solid;/*bleu-gris*/
  background-color: white;
}

.corps_ajouter_admin
{
  border: 2px #207320 solid;/*vert-clair*/
}

.corps_supprimer_admin
{
  border: 2px #831616 solid;/*rouge-clair*/
}

.nom_job
{
  color: #0F5F81;/*bleu-fonce*/
  text-align: center;
}

.profil
{
  background-color: #0F5F81;/*bleu-fonce*/
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.ma_publication
{
  border: 1px #0F5F81 solid;/*bleu-fonce*/
}

.parametres_profil
{
  color: white !important;
  background-color: #013356 !important;/*gris*/
  margin-bottom: 5px !important;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  border: solid 1px #013356 !important;
}

.parametres_profil:hover
{
  color: white !important;
  background-color: #0b4975 !important;/*gris-fonce*/
  margin-bottom: 5px !important;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  border: solid 1px #0b4975 !important;
  text-decoration: none;
}

.se_deconnecter
{
  color: white !important;
  background-color: #550a0a !important;/*rouge-fonce*/
  margin-bottom: 5px !important;
  text-align: center;
  border: solid 1px #550a0a!important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.se_deconnecter:hover
{
  color: white !important;
  background-color: #831616 !important;/*rouge-fonce*/
  margin-bottom: 5px !important;
  text-align: center;
  border: solid 1px #831616 !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-decoration: none !important;
}

.se_connecter
{
  color: white !important;
  background-color: #094509 !important;/*vert-fonce*/
  margin-bottom: 5px !important;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  border: solid 1px #094509!important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.se_connecter:hover
{
  color: white !important;
  background-color: #095209 !important;/*vert*/
  margin-bottom: 5px !important;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  border: solid 1px #095209 !important;/*vert*/
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-decoration: none;
}

.devenir_amis
{
  color: white !important;
  background-color: #207320 !important;/*vert*/
  margin-bottom: 5px !important;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  border: solid 1px #207320 !important;/*vert*/
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-decoration: none;
}

.devenir_amis:hover
{
  color: white !important;
  background-color: #208120 !important;/*vert*/
  margin-bottom: 5px !important;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  border: solid 1px #208120 !important;/*vert*/
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-decoration: none;
}

.supprimer
{
  color: white !important;
  background-color: #550a0a !important;/*rouge*/
  margin-bottom: 5px !important;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  border: solid 1px #550a0a !important;
}

.supprimer:hover
{
  color: white !important;
  background-color: #831616 !important;/*rouge-fonce*/
  margin-bottom: 5px !important;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  border: solid 1px #831616 !important;
  text-decoration: none;
}

.bouton_cv
{
  margin-top: 5px;
  margin-bottom: 5px !important;
  color: white !important;
  background-color: #094509 !important;/*vert-fonce*/
  text-align: center;
  border: solid 1px #094509 !important;
}

.bouton_cv:hover
{
  margin-top: 5px;
  margin-bottom: 5px !important;
  color: white !important;
  background-color: #095209 !important;/*vert*/
  text-align: center;
  border: solid 1px #095209 !important;
  text-decoration: none;
}

.param_profil
{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.bouton
{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  color: white !important;
  background-color: #013356 !important;/*gris*/
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  text-align: center;
  border: solid 1px #013356 !important;
}

.bouton:hover
{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  color: white !important;
  background-color: #0b4975 !important;/*gris*/
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  text-align: center;
  border: solid 1px #0b4975 !important;
}

.img_ppnotif
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70px !important;
  width: 70px;
  border: 1px solid #0F5F81; /*bleu-fonce*/
  margin-left: 10px;
}

/*Emplois */
.offre_emploi
{
  background-color: #0F5F81 !important;/*bleu-fonce*/
  color: white !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-bottom: 5px;
}

.div_emploi
{
  margin-top: 10px !important;
  border: 1px solid #013356 !important;
}

.titre_emploi
{
  background-color: #013356 !important;
}

/* footer*/
.footer
{
  background-color: #0F5F81;/*bleu-fonce*/
  color: white;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 12px;
  margin-top: 50px;
}
